.header-spacer {
    flex: 1 1 auto;
}

.header-class {
    background: var(--headerBackground) !important;
    color: var(--on-background) !important;
    height: 60px;
    min-height: 60px;
}

.menu-sidenav {
    min-width: 350px;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: darkorange;
    padding: 0 5px;
    border-radius: 30%;
    color: white;
    width: 18px;
    height: 18px;
}

.cart-count {
    position: absolute;
    font-size: 16px;
    top: -7px;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: var(--drawerBackground) !important;
}

::ng-deep .mat-drawer-inner-container {
    background: var(--background) !important;
}