<mat-toolbar class="header-class">
    <span routerLink="/">Hardware Application</span>
    <span class="header-spacer"></span>
    <ng-container *ngIf="loggedInUser">
        <mat-slide-toggle class="text-color btn-sm" (click)="toggleTheme()">Dark Theme</mat-slide-toggle>
         <h3 class="text-center">Welcome: {{loggedInUser!.name.firstName}} {{loggedInUser!.name!.lastName}}</h3>
        
         <div style="position: relative" *ngIf="loggedInUser.role !== 'ADMIN'">
            <span class="nav-icon" (click)="toggleSideNav()">
                <i class="fas fa-cart-plus"></i>
            </span>
            <div class="cart-items">
                <span class="cart-count">{{this.cartCount}}</span>
            </div>
        </div>

        <input type="button" class="btn btn-default btn-sm text-color" (click)="logout();" value="logout" />

    </ng-container>
</mat-toolbar>